.donateButton
{
margin-top: 40px;
margin-bottom: 40px;
}
#flip {
  margin-top: 20px;
  text-align: center;
  background-color: mediumaquamarine;
  border: 2px solid black;
  border-radius: 100px;
}
#flip:hover
{
background: gainsboro;
}
#panel {
padding: 50px;
margin-top: 20px;
  display: none;
 background-color:lightgreen;
 border: 5px solid black;
 border-radius: 80px;
}
#def
{
text-align: left;
border: 7px solid greenyellow;
padding: 25px;
background-color: lightcyan;
border-radius: 150px 0 150px 0;
}
#def:hover
{
background-color: blanchedalmond;
border: 10px solid lightskyblue;
}
h1,h3{
text-align: center;
}
